.leftDiv {
    position: relative;
    top: 0px;
    border: 1px solid green;
    padding: 50px;
    float: left;
    width: 7%;
    height: 792px;
    text-align: left;
    font-family:Garamond, serif;
    line-height:1em;
    color:#fff9d6;
    font-weight:bold;
    font-size:18px;
    text-shadow:0px 0px 0 rgb(231,231,231),1px 1px 0 rgb(216,216,216),2px 2px 0 rgb(202,202,202),3px 3px 0 rgb(187,187,187),4px 4px 0 rgb(173,173,173),5px 5px 0 rgb(158,158,158), 6px 6px 0 rgb(144,144,144),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
    line-height: 150px;
    background:#EB9742;
}

.topDiv {
    top: 0px;
    border: 1px solid green;
    padding: 10px;
    float: top;
    width: 99%;
    height: 80px;
    text-align: left;
    font-family:Garamond, serif;
    line-height:1em;
    color:#fff9d6;
    font-weight:bold;
    font-size:60px;
    text-shadow:0px 0px 0 rgb(231,231,231),1px 1px 0 rgb(216,216,216),2px 2px 0 rgb(202,202,202),3px 3px 0 rgb(187,187,187),4px 4px 0 rgb(173,173,173),5px 5px 0 rgb(158,158,158), 6px 6px 0 rgb(144,144,144),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
    background: #EB9742;
}


img {
    width:132px;
    height:78px;

.ribbon {
    width:195px;
    height:150px;
    margin-left:-50px;
    margin-top:-175px;
}

.loginButton{
  float: right;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 25px;
}

.loginButton:hover {
  background-color: #fff;
}

.loginButton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .loginButton {
    min-width: 120px;
    padding: 0 25px;
  }
}






.registerButton{
  float: right;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 25px;
}

.registerButton:hover {
  background-color: #fff;
}

.registerButton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .registerButton {
    min-width: 120px;
    padding: 0 25px;
  }

.loginpage {
    display:flex;
    justify-content: center;
    margin-top: -100px;
}

.loginform {
  display: flex;
  height: 700px;
  width: 400px;
  align-items: center;
}

.btn-success {
    width:400px;
}

.registerpage {
    display:flex;
    justify-content: center;
}

.registerform {
  display: flex;
  height: 700px;
  width: 400px;
  align-items: center;
}

.registertitle {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.logintitle {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


.tags {
    color: #fbeee0;
}

.users {
    color: #fbeee0;
}

.about {
    color: #fbeee0;
}
}


.AdminButton {
  float: right;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 25px;
}

.LogoutButton {
  float: right;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 25px;
}

.Debugging {
    margin-left: 50px;
}

