{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Debugging Cake - {{ room.name }}</title>
{% endblock title %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="chat-room">
        <a href="/chatrooms/"><button class="leave-room-btn">Return to Lobby</button></a>
    </div>

    <div class="room-title">
            <h1>Chatroom {{ room.name }}</h1>
    </div>

    <div class="container">
        <div id="chat-log">
            {% for message in messages.all %}
                {% if message.user.username == request.user.username %}
                    <div class="message sender">
                        {{message.user.username}}: {{ message.content }}
                    </div>
                {% else %}
                    <div class="message receiver">
                        {{message.user.username}}: {{ message.content }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    <div class="input-container">
            <input class="textInput" id="chat-message-input" type="text" placeholder="Type a message"><br>
            <button class="send-btn" id="chat-message-submit" type="button">Send</button>
    </div>


    {{ room.slug|json_script:"room-name" }}
    {{ request.user.username|json_script:"username" }}

    <script>

        const chatLog = document.querySelector('#chat-log');
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const userName = JSON.parse(document.getElementById('username').textContent);

        const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
        );

        if (chatLog.childNodes.length <= 1) {
            const roomMessage = document.createElement('h3')
            roomMessage.id = 'roomMessage'
            roomMessage.innerText = 'Looks like there are no messages yet.'
            roomMessage.className = 'roomMessage'
            chatLog.appendChild(roomMessage)
        }

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const messageElement = document.createElement('div')
            const loggedInUser = data.username
            messageElement.innerText += data.username + ': ' + data.message


            if (userName === loggedInUser) {
                messageElement.classList.add('message', 'sender')
                } else {
                messageElement.classList.add('message', 'receiver')
                }

            chatLog.appendChild(messageElement)

            if (document.querySelector('#roomMessage')) {
                document.querySelector('#roomMessage').remove()
            }
            scrollToBottom();
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            e.preventDefault();
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': userName,
                'room': roomName
            }));
            messageInputDom.value = '';
            return False
        };
    </script>
{% endblock content %}
