{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class = "header">
        <span class="header-title">Debugging the Cake</span>


    {% if request.user.is_authenticated %}
        <div class="header-buttons">
            <div class="utility-buttons">

                <a href="/create_post"><button class="create-post-button btn">Create Post</button></a>
                <a href="/posts"><button class="posts-button btn">Posts</button></a>
                <a href="/tags/"><button class="tag-button btn">Tags</button></a>
                <a href="/users/"><button class="users-button btn">Users</button></a>
                <a href="/about/"><button class="about-button btn">About </button></a>
                <a href="/chatrooms/"><button class="chat-button btn">Chat Rooms</button></a>
            </div>
             <div class="auth-buttons">
                 {% if request.user.is_authenticated %}
                     {% if request.user.is_superuser %}
                        <a href="/admin"><button class="admin-button btn" type="button">Admin</button></a>
                 {% endif %}

                 <a href="/profile"><button class="profile-button btn" type="button">Profile</button></a>
                 <a href="/logout"><button class="logout-button btn" type="button">Logout</button></a>
             </div>
        </div>
    {% endif %}

    {% else %}
        <div class="header-buttons">
        <div class="utility-buttons">
            <a href="/about/"><button class="about-button btn">About </button></a>
        </div>
        <div class="auth-buttons">
            <a href="/login/"><button class="login-button btn">Login</button> </a>
            <a href="/register/"><button class="register-button btn" >Register</button></a>
        </div>
        </div>
    {% endif %}
    </div>
{% endblock content %}

