<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topic list</title>
</head>
<body>
    <ul>
        {% for topic in topic_list %}
            <li>
                <h1> TOPIC </h1>
                    <h2> {{topic.title}} </h2>
                    <h2> {{topic.post.title}} </h2>
                        <ul>
                            {% for post in topic_report.post %}
                                <li>
                                    <h3> {{post}} </h3>
                                </li>
                            {% endfor %}
                        </ul>
                    <h2> {{topic.tag.tag_type}} </h2>
            </li>
        {% endfor %}
    </ul>
</body>
</html>