.match-list{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.match-table {
    min-width: 80%;
    text-align: center;
    border-collapse: collapse;
}

.match-table body{
    align-items: center;
}

.match-table tr {
    height: 40px;
    border: 1px solid black;
}

.match-table thead tr {
    color: white;
    background-color: #0da103;
    border: 1px solid black;
}

.match-table td {
    border: 1px solid black;
}

a {
    text-decoration: none;
    color: #0da103;
}