body {
    margin: 0;
    padding: 0;
}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: block;
    position: fixed;
    width: 100%;
}

ul.horizontal li{
    display: inline-block;
}

ul.horizontal li:hover{
    background-color: #0da103;
}

ul.horizontal li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}