{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Debugging Cake - Chat</title>
{% endblock title %}

{% block content %}
    {% include 'navbar.html' %}

     <div class="container">
        <h3 class="chat-create">Choose a room and debug your code.</h3>
        <div>
            <a href="/chat/Python/"><button class="python-room btn-room">Python</button></a>
            <a href="/chat/Java/"><button class="java-room btn-room">Java</button></a>
            <a href="/chat/Drupal/"><button class="drupal-room btn-room">Drupal</button></a>
            <a href="/chat/Angular/"><button class="angular-room btn-room">Angular</button></a>
            <a href="/chat/DOJ/"><button class="doj-room btn-room">DOJ</button></a>
            <a href="/chat/JOS/"><button class="jos-room btn-room">JOS</button></a>
        </div>
     </div>


{% endblock content %}