{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Debugging Cake - Chat Room</title>
{% endblock title %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="chat-room">
        <a class="leave-room" href="{% url 'chat_index' %}">Return to Lobby</a>
    </div>


    <div class="container">
        <div id="chat-log"></div>

    <div class="container">
            <input class="textInput" id="chat-message-input" type="text" placeholder="Type a message"><br>
            <button class="send-btn" id="chat-message-submit" type="button">Send</button>
    </div>



    {{ room_name|json_script:"room-name" }}
    {{ request.user.username|json_script:"username" }}

    <script>
        const chatLog = document.querySelector('#chat-log')
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        if (!chatLog.hasChildNodes()) {
            const roomMessage = document.createElement('h3')
            roomMessage.id = 'roomMessage'
            roomMessage.innerText = 'Looks like there are no messages yet.'
            roomMessage.className = 'roomMessage'
            chatLog.appendChild(roomMessage)
        }

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const messageElement = document.createElement('div')
            const userName = data['username']
            const loggedInUser = JSON.parse(document.getElementById('username').textContent)
            console.log(loggedInUser)
            messageElement.innerText = data.username + ' : ' + data.message


            if (userName === loggedInUser) {
                messageElement.classList.add('message', 'sender')
                } else {
                messageElement.classList.add('message', 'receiver')
                }

            chatLog.appendChild(messageElement)

            if (document.querySelector('#roomMessage')) {
                document.querySelector('#roomMessage').remove()
            }

        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>



{% endblock content %}
