<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'Homepage.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'Navbar.css' %}">
</head>
<body>
<ul class="horizontal">
  <li><a class="active" href="/view/">Home</a></li>
  <li><a href="/view/posts/">Posts</a></li>
</ul>
<div class="menu">
    <a href="/view/posts/">
        <div class="card">
            <div>
                <h3>Posts</h3>
            </div>
        </div>
    </a>
    <a href="/view/create_post/">
        <div class="card">
            <div>
                <h3>Create Post</h3>
            </div>
        </div>
    </a>
</div>
</body>
</html>