<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'ListPost.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'Navbar.css' %}">
</head>
<body>
<ul class="horizontal">
  <li><a class="active" href="/view/">Home</a></li>
  <li><a href="/view/posts/">Posts</a></li>
  <li><a href="/view/create_post/">Create Post</a></li>
</ul>
<div class="match-list">
    <table class="match-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Updated</th>
                <th>File</th>

            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{post.title}}</td>
                    <td>{{post.description}}</td>
                    <td>{{post.updated}}</td>
                    <td>{{post.file}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>