body {
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    min-height: 60px;
    display: flex;
    background-color: #3B3530;
    padding: 15px 0px;
}


.header-title{
    width: 17%;
    display: flex;
    align-items:center;
    font-family: 'Silkscreen', cursive;
    font-size: 20px;
    padding-left: 25px;
    color: white;
}

.header-buttons{
    width: 83%;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.utility-buttons{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-buttons {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.btn {
    border: 2px solid #d9fad9;
    border-radius: 22px;
    color: #d9fad9;
    background-color: transparent;
    font-size: 18px;
    transition: all300ms ease;
}

.btn::before,
.btn::after {
  position: absolute;
  display: block;
  content: "";
}

.btn2 {
    color: #3B3530;
    border: 0px;
    transition: 0.3s;
}

.btn2:hover {
    background-color: rgba(0,0,0,0.1);
}

.custom-button {
    color: #3B3530;
    border: 2px solid #3B3530;
    border-radius: 22px;
    font-weight: 600;
    transition: 0.3s;
    background-color: transparent;
    padding: 5px 20px;
    margin-right: auto;
}

.custom-button2 {
    //color: #3B3530;
    border: 2px solid #3B3530;
    border-radius: 22px;
    font-weight: 600;
    transition: 0.3s;
    background-color: transparent;
    padding: 5px 20px;
    margin-right: auto;
}

.custom-button:hover {
    background-color: rgba(0,0,0,0.1);
}

.ribbon {
    width:195px;
    height:150px;
    margin-left:-50px;
    margin-top:-175px;
}



.loginpage {
    display:flex;
    justify-content: center;
    margin-top: -100px;
}

.loginform {
  margin-top: 200px;
  display: block;
  height: 700px;
  width: 400px;
  align-items: center;
  justify-content: center;
}


.registerpage {
    display:flex;
    justify-content: center;
}

.registerform {
  display: flex;
  height: 700px;
  width: 400px;
  align-items: center;
}

.registertitle {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.logintitle {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.tags {
    color: #fbeee0;
}

.users {
    color: #fbeee0;
}

.about {
    color: #fbeee0;
}


.profile-page {
  display: flex;
  justify-content: center;
}

.profile-update-form {
  display: block;
  height: 100%;
  width: 600px;
  align-items: center;
}

.profile-info {
   display: flex;
   height: 100px;
}

.profile-image-place {
   display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.profile-image {
    border-radius: 50%;
    flex-shrink: 0;
    width: 50%;
    height: 100%
}

.post-page {
    display:flex;
    justify-content: center;
}

.post-form {
  display: flex;
  height: 700px;
  width: 400px;
  align-items: center;
}



.article-title {
  color: #444444;
  padding-top: 10px;
  font-weight: 900;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  font-size: 18px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.article-img {
  height: 30px;
  width: 30px;
  margin-right: 16px;
}

.article-img2 {
  height: 30px;
  width: 30px;
}

.article-metadata {
  padding-bottom: 12px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
  position: relative;
}

.article-metadata-buttons {
    position: absolute;
    top: -12px;
    right: -12px;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-metadata a {
    font-size: 18px;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.content-section {
  background: #ffffff;
  padding: 20px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}

.media-body {
    padding: 0px 20px;
}

.comment-section {
    margin: 0px 60px;
}

.comment-title {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 900;
}

.comment-user {
    margin-left: 10px;
}

p.comment-content {
    font-weight: 300;
    padding: 0px 45px;
    margin-bottom: 0px;
}

.comment_form {
    font-weight: 700;
}

.reply-content {
    font-weight: 300;
    font-size: 17px;
    padding-bottom: 10px;
    margin-left: 70px;
}

.reply-content2 {
    padding-top: 10px;
    padding-left: 51px;
}

.reply-btn {
    margin-left: 30px;
}

.reply-btn p {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.reply-button {
    margin: 15px 5px;
}

.hidden-div {
    padding-bottom: 15px !important;
    padding-top: 10px !important;
}

.hide{
  display:none;
}
.show{
  display:block;
}